table,tr,td,th,thead,tbody,body{
    background-color: #2c254a;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}
.MuiTableCell-root,.MuiTableCell-head,.MUIDataTableHeadCell-root-453,.MUIDataTableHeadCell-fixedHeader-454,.MuiTableRow-root,.MUIDataTableHeadRow-root-132,.MuiTableRow-head,.MuiTableHead-root,.MUIDataTableHead-responsiveStacked-127,.MUIDataTableHead-main-126,.MuiTableRow-root,.MUIDataTableHeadRow-root-132,.MuiTableRow-head{
    background-color: #2c254a;
    color:white;
}
